# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Unused / large datasets
data/raw/health_fitness_dataset.csv
data/raw/predict_ingr.json

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Third-party dataset
data/raw/data.csv
